:root {
  --red: rgb(149, 25, 8);
  --orange: rgb(255, 192, 46);
  --yellow: rgb(253, 216, 81);
}

body {
  background: linear-gradient(to left, rgb(60, 179, 250), var(--yellow));
}

.App {
  display: block;
  margin: 0px auto;
  text-align: center;
  max-width: 700px;
}

h1 {
  position: relative;
  top: 10px;
  left: 20px;
  color: var(--red);
  font-size: 40px;
}

h2 {
  color: var(--orange);
}

h3 {
  color: green;
}

h4.card-title {
  color: rgba(55, 43, 226, 0.8);
}

h5 {
  color: purple;
}

li {
  list-style: none;
}

.card {
  display: block;
  margin: 0 auto;
}

.temperature {
  display: flex;
  justify-content: center;
}

.celcius {
  color: var(--orange);
  font-size: 50px;
}

.fahrenheit {
  color: blue;
  font-size: 50px;
}

.description {
  color: #0d6efd;
  font-size: 30px;
}

.card-title {
  color: yellow;
}

.card-one {
  background: rgb(231, 100, 100);
  top: 30px;
  padding-bottom: 30px;
  border-color: var(--red);
  border-radius: 8px;
}
.today-highest-lowest {
  position: relative;
  width: 250px;
  left: 425px;
  top: -100px;
  border: var(--red);
}

.card-two {
  background: rgb(248, 186, 40);
  position: relative;
  left: 12px;
  padding-bottom: 40px;
}
.card-three {
  background: rgb(15, 224, 43);
  position: relative;
  left: -12px;
  padding-bottom: 40px;
}
.card-four {
  background: rgb(106, 156, 192);
  max-width: 100%;
  position: relative;
  left: 12px;
  padding-bottom: 40px;
}
.card-five {
  background: rgb(175, 78, 175);
  max-width: 100%;
  position: relative;
  left: -12px;
  padding-bottom: 40px;
}

.card-one-screen {
  display: block;
  position: relative;
  max-width: 500px;
  top: 30px;
  font-size: 30px;
  color: var(--red);
  border-color: var(--red);
  border-radius: 8px;
  background: rgba(253, 216, 81, 0.6);
}
.card-two-screen {
  display: block;
  position: absolute;
  margin: 10px;
  padding: 10px;
  top: 90px;
  left: 180px;
}
.card-three-screen {
  display: block;
  position: absolute;
  margin: 10px;
  padding: 10px;
  top: 90px;
  left: 180px;
}
.card-four-screen {
  display: block;
  position: absolute;
  margin: 10px;
  padding: 10px;
  top: 90px;
  left: 180px;
}
.card-five-screen {
  display: block;
  position: absolute;
  margin: 10px;
  padding: 10px;
  top: 90px;
  left: 180px;
}
.input-one {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 15px;
  width: 190px;
}

.current-location-button {
  display: flex;
  justify-content: end;
  padding: 15px;
}
.to-the-left {
  text-align: left;
  margin-left: 40px;
}

.link-to-github {
  display: block;
  position: relative;
  top: 50px;
  padding: 10px;
  color: var(--red);
  font-size: 20px;
}

@media (max-width: 665px) {
  .celcius {
    font-size: 40px;
  }

  .fahrenheit {
    font-size: 40px;
  }
}

@media (max-width: 565px) {
  .temperature {
    padding-top: 20px;
  }

  .celcius {
    font-size: 30px;
  }

  .fahrenheit {
    font-size: 30px;
  }
  .to-the-left {
    margin-left: 0px;
  }
}
